.introducao-bg {
  background-color: #000;
  padding: 50px 20px;
  box-shadow: inset 0 -120px #fff;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.hero-text {
  flex: 1;
  color: #333;
  padding-bottom: 250px;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.hero-description {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: #fff;
}

.hero-button {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-p5);
  font: 600 1.125rem / 1.35 "Poppins", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #0056b3;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
