.container{
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.info-sections {
  padding: 40px 20px;
  background-color: #fff;
  color: #333;
}

.info-block {
  margin-bottom: 30px;
  padding: 40px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.info-block:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.diagonal-section {
  background-color: linear-gradient(#ffbf00, #f2a50c);
  color: white;
  position: relative;
  overflow: hidden;
  transition: clip-path 0.8s ease-in-out;
}

.diagonal-block {
  position: relative;
  padding: 40px;
  background: linear-gradient(#ffbf00, #f2a50c);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: clip-path 0.6s ease-in-out;
  margin-bottom: 30px;
}

.diagonal-block h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.diagonal-block p,
.diagonal-block ul {
  font-size: 1.1rem;
  text-align: center;
  color: #fff;
}

.info-block h2 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  color: #000;
  margin-bottom: 15px;
}

.info-block p,
.info-block ul {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #000;
}

.info-block p {
  display: flex;
  justify-content: center;
}

.info-block ul {
  padding-left: 20px;
}

.info-block ul li {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  transition: color 0.3s ease-in-out;
}

.info-block ul li:hover {
  color: #fff;
  font-weight: bold;
}

.info-block p:hover {
  color: #fff;
  font-weight: bold;
}

/* ✅ Responsividade para Mobile (abaixo de 768px) */
@media (max-width: 767px) {
  .diagonal-block h2 {
    font-size: 1.5rem; /* Reduz o tamanho do título */
  }

  .diagonal-block p,
  .diagonal-block ul {
    font-size: 1rem; /* Reduz fonte do texto */
  }

  .info-block h2 {
    font-size: 1.8rem; /* Ajusta tamanho dos títulos padrão */
  }

  .info-block p,
  .info-block ul {
    font-size: 1rem; /* Ajusta tamanho dos parágrafos e listas */
  }

  .info-block ul {
    padding-left: 10px; /* Reduz o padding */
  }

  .info-block ul li {
    justify-content: center;
    text-align: center;
  }
}

